// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.query {
  padding: 12px;
  border-left: 8px solid #DDDDDD;
  margin: 12px;
}

.answer {
  padding: 12px;
  border-left: 8px solid #DDDDDD;
  margin: 12px;
}
